<div>
    Enter name of a Jira projet: 
    @Html.TextBox("ProjectTextBox")
    <div id="LoadIssues" class="pure-button" style="width: 80px; padding: 4px">
        Load issues
    </div>
</div>

<div id="LoadedIssueListControl" style="margin-top: 30px"></div>

<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
<script type="text/javascript">
    $(function() {
        $('#LoadIssues').click(function () {
            var project = $('#ProjectTextBox').val();
            $('#LoadedIssueListControl').load("/admin/loadissues", { project: project });
        });
    });
</script>
