[user]
	name = rasmusra
	email = yacrumb@yahoo.se
[credential]
	helper = !'C:\\Users\\Rasmus\\AppData\\Roaming\\GitCredStore\\git-credential-winstore.exe'
[merge]
	tool = kdiff3
[mergetool "kdiff3"]
    path = C:/YourPathToBinaryHere/KDiff3/kdiff3.exe
    keepBackup = false
    trustExitCode = false
