<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="specFlow" type="TechTalk.SpecFlow.Configuration.ConfigurationSectionHandler, TechTalk.SpecFlow" />
  </configSections>
  
  
  

  <appSettings>
    <add key="PhantomJsDirectory" value="..\..\..\..\packages\PhantomJS.1.9.8\tools\phantomjs" />
    <add key="ConnectionString" value="server=localhost:27113;database=JiraMetricsDb" />
  </appSettings>
 
  <specFlow>
    <unitTestProvider name="NUnit" />
    <stepAssemblies>
    </stepAssemblies>
    <plugins>
    </plugins>
  
    
  <!-- For additional details on SpecFlow configuration options see http://go.specflow.org/doc-config --></specFlow>
</configuration>