@using Olifant.JiraMetrics.Web.Models
@model DotNet.Highcharts.Highcharts

@using (Html.BeginForm("Index", "Home", FormMethod.Post, new { id = "generate_graph" }))
{
    <script type="text/javascript">
        $(function() {
            var statuses = $('#CycleStatusesListbox option').map(function() { return $(this).val(); }).get();

            $('#Search').click(function() {
                var input = $("<input>")
                    .attr("type", "hidden")
                    .attr("name", "statuses")
                    .val(statuses);
                $('#Search').append($(input));
            });
        });
        </script>
    
    @Html.TextBox("jql")
    <input id="Search" type="submit" value="Search"  />
}

@(Model)

<a id="toggleStatusVisibility" class="btn btn-success btn-sm glyphicon glyphicon-arrow-down"> Change those statuses!</a><br />

<div id="statusesDiv">
    <script type="text/javascript">
        $("[id=statusesDiv]").hide();
    </script>
    
    @{ Html.RenderAction("Cycles", "Home"); };
</div>

<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>

<script type="text/javascript">
    $(function () {
        $("#toggleStatusVisibility").bind("click", function () {
            $("[id=statusesDiv]").toggle();
            $("[id=toggleStatusVisibility]").toggleClass("glyphicon-arrow-down glyphicon-arrow-right");
            $("[id=toggleStatusVisibility]").toggleClass("btn-success btn-danger");
        });
    });
</script>
